# Build
bin/
obj/
*.dll
*.exe
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# IDE / Rider / VS
.idea/
.vs/
*.user
*.suo
*.assemblyInfo

# NuGet
*.nupkg
*.snupkg
project.assets.json
project.nuget.cache
project.packagespec.json

# Logs
*.log

# User secrets
secrets.json

# Configs
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# OS
.DS_Store

# Misc
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.orig


# Other
.builds
*.pidb
*.svclog
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vsix
*.vhd
*.vhdx
*.csx
*.csproj.user
*.fsproj.user
*.vbproj.user
*.projitems.user
*.tlog